<section>
    <h3>Dashboard</h3>
    <container class="post">
    {{#if posts}}
    {{#each posts}}
        <article>
            <h3><a href="/edit/{{id}}">{{title}}</a></h3>
            <p>{{content}}</p>
            <p>Posted on {{createdAt}} </p>
            <a href="/Post/{{id}}">Read More</a>
        </article>
    {{/each}}
    {{else}}
    <p>No posts found.</p>
    {{/if}}
    </container>
</section>