<section>
    <div class="container">
        <h3>Dashboard</h3>
        <div class="posts-container">

            {{#if posts}}
                {{#each posts}}
                        <article>
                            <h3>{{title}}</h3>
                            <p>{{content}}</p>
                            <p>Posted on {{formatDate this.createdAt}} </p>
                            <div class="post-actions">
                                <a href="/edit/{{this.id}}" class="btn edit-btn">Edit</a>
                                <button class="btn delete-btn" value="{{this.id}}">Delete</button>
                            </div>
                        </article>
                {{/each}}
            {{else}}
            <article>
                <p>No posts found.</p>
            </article>
            {{/if}}

            <section class="new-posts-container">
                <h3>Create a New Post</h3>
                <form id="new-post-form">
                    <div class="form-group">
                        <label for="post-title">Title:</label>
                        <input type="text" id="post-title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="post-content">Content:</label>
                        <textarea id="post-content" name="content" required></textarea>
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </section>

        </div>
    </div>
</section>

<script src="/js/dashboard.js"></script>
<script src="/js/delete.js"></script>