<main class="main-content">
    <div class="container">
        <article>
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <p>Posted by {{post.user.name}} on {{formatDate post.createdAt}}</p>
            <button class="btn comment-btn">Add Comment</button> <!-- Add Comment Button -->
        </article>

        <section class="add-comment-section">
        <h3>Add Comment</h3>
        <form id="comment-form">
            <input type="hidden" id="post-id" value="{{post.id}}">
            <div class="form-group">
            <textarea id="comment-content" placeholder="Enter your comment here" required></textarea>
            </div>
            <div class="form-group">
            {{#if logged_in}}
                <button type="submit" class="btn">Submit</button>
                {{else}}
                <a href="/login" class="btn">Login</a>
            {{/if}}

            </div>
        </form>
        </section>

            

        <section class="comments-section">
            <h3>Comments</h3>
            {{#if post.comments}}
                <ul>
                    {{#each post.comments}}
                        <li>
                            {{this.content}}
                            Posted by {{this.user.name}} on {{formatDate this.createdAt}}
                        </li> 
                    {{/each}}
                </ul>
            {{else}}
                <p>No comments yet.</p>
            {{/if}}
        </section>
    </div>
</main>